@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Inter&display=swap");
body{
    background-color: #ccc;
    font-family: 'Arimo', sans-serif;
    color: #222;
    margin-top: 100px;
}


h1{
    margin: 15px 0;
}

p{
  font-family: 'Inter', sans-serif;
  padding: 20px;
}

.card{
    background-color: white;
    border-radius: 15px;
    margin: 0 auto;
    width: 600px;
    text-align: left;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 10px;
    border: 1px solid #aaa;
}


