 @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=Inter&display=swap');

body {
    margin: 0;
    display: flexbox;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #f0f0f0;
    text-align: center;
    margin: 0 auto;
    width: 600;
    border: 1px solid #aaa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}



.paragraph {
    font-family: 'Inter', sans-serif; /* Use Inter with normal font weight */
}
